/var/
/vendor/
/.phpunit.cache/
/.idea/
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php
/config/reference.php

/.env.local
/.env.local.php
/.env.*.local
.env.dev
.env.test

/phpunit.xml
/bin/phpunit
composer.lock
symfony.lock
*.db
