/var/
/vendor/
/.phpunit.cache/
/.idea/
/.vscode/

.env
.env.dev
.env.test
/.env.local
/.env.local.php
/.env.*.local

/bin/phpunit
/config/secrets/prod/prod.decrypt.private.php
/config/reference.php
/public/bundles/

/phpunit.xml
composer.lock
symfony.lock
*.db

